 .overlayStyle {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100vw";
  height: "100vh";
  background-color: "rgba(0, 0, 0, 0.5)";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  z-index: 1000;
}

.popupStyle {
  background-color: rgba(54, 19, 19, 0.707);
  padding: "30px";
  border-radius: "10px";
  width: "300px";
  height: "200px";
  position: "relative";
  color: wheat;
}


